/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #ffffff;
    color: #333;
    padding: 20px 0;
    text-align: center;
}

header img {
    width: 200px;
}

.container {
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-size: 2em;
    color: #333;
}

.newsletter {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.newsletter h2 {
    font-size: 2em;
    color: #333;
}

.newsletter input[type="text"],
.newsletter input[type="number"],
.newsletter input[type="email"] {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.newsletter button {
    padding: 15px 30px;
    background: linear-gradient(135deg, #888888, #d3d3d3); /* Degradado gris */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    width: 80%;
    max-width: 400px;
    transition: background 0.3s ease;
}

.newsletter button:hover {
    background: linear-gradient(135deg, #777777, #b0b0b0); /* Degradado gris más oscuro */
}

#message {
    margin-top: 10px;
    color: #007BFF;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

